body
{
	background-color: #000000;
}
.hor-zebra
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 10px;
	margin: 5px;
	text-align: left;
	border-collapse: collapse; 
	border: 2px solid;
	overflow : auto;
	border-color:#30ACAC;
	white-space: nowrap;
}
.hor-zebra th
{
	font-size: 12px;
	font-weight: normal;
	padding: 4px 2px;
	border: solid;
	color: #FFFFFF;
	background: #007A7A;
}
.hor-zebra td
{
	padding: 2px;
	border: solid;
	border-color:#30ACAC;
}
.hor-zebra  tr:nth-child(even)
{
	background: #005555;
}
img
{
	width: 32;
	height: 32;
}
.img_small
{
	width: 24;
	height: 24;
	vertical-align:middle;
	margin: 2px;
}
.restrict-width
{
	max-width: 120px;
}
a:link 
{
	color:#FFFFFF;
	text-decoration:underline;
} 
